    body {
        margin: 0px; /*Margem externa*/
        padding: 0px; /*Margem interna*/
    }

    #principal {
        width: 100%;
        height: 100%;
        border: 1px solid black; /*coloca borda*/
        background-color: #303030;
        font-size: 25px;
        font-weight: 600;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid #BABABA;
    }

    #menu {
        display: flex;
        width: 45%;
        justify-content: space-around; /*Define o espaço que sobra*/
        align-items: center; /*Alinhamento vertical*/
        margin-left: 5%; /*Ter margem a esquerda*/
    }

    #principal div a {
        font-family: Inter;
        font-size: 25px;
        font-weight: 600; /*Espessura da fonte*/
        color: white;
        text-decoration: none; /*   retira o underline*/
    }

    #principal div a:hover { /*aplicação de quando o mouse passa por cima do objeto*/
        color: #cccc;
    }

    #principal button {
        margin-right: 5%; /*ter margem a direita*/
        background-color: rgb(6, 6, 247);
        height: 40px;
        width: 80px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        color: white;
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.251);  /*regular sombra  1ºhorizontal 2ºvertical 3ºesfumaçado*/
        cursor: pointer;/*aparecer um cursor no mouse*/
    }